:root {
    --color-primary: hsl(0, 0%, 100%);
    --color-secundary: hsl(47, 88%, 63%);
    --color-tertiary: hsl(0, 0%, 42%);
    --color-quaternary: hsl(0, 0%, 7%);
    --color-link-footer: hsl(228, 45%, 44%);

    --font-family: 'Figtree';
    --font-weight-medium: 500;
    --font-weight-extrabold: 800;
}